.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin-left: -100%;
}

header nav {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5rem;
  z-index: 12;
}

header a {
  display: block;
  padding: 1rem 0.5rem;
  margin: 0 0.5rem;
  font-size: 1.2rem;
}

header a:hover {
  cursor: pointer;
  background: rgba(225, 225, 255, 0.4);
}

.site-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.nav-icon {
  font-size: 3rem;
  margin: 0.5rem;
  padding: 0.5rem;
  color: #dfdfdf;
}

.nav-icon:hover {
  cursor: pointer;
  color: #fff;
}