.socials-container {
  --socials-background: #0e5788;
  --social-border: #0E887C;
}

.socials-container {
  position: absolute;
  bottom: 1rem;
  left: 0;
  z-index: 12;
}

.socials {
  width: 4rem;
  height: 8rem;
  position: relative;
  transition: width 1s ease-in-out;
}

.toggle-socials {
  transform: rotate(90deg);
  transform-origin: bottom left;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.7rem;
  width: 8rem;
  margin-left: -100%;
  background: var(--socials-background);;
  border: 1px solid var(--social-border);
  position: absolute;
  bottom: 100%;
  left: 100%;
  border-radius: 5px 5px 0 0;
  transition: margin 1s ease-in-out;
}

.toggle-socials:hover {
  cursor: pointer;
  background: #1495d1;
}

.social-wrapper {
  background: var(--socials-background);
  transform-origin: top left;
  margin-left: -100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: margin 1s ease-in-out;
  overflow: hidden;
  border: 1px solid var(--social-border);
  border-right: 0;
}

.socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.socials a:first-of-type {
  border-bottom: 1px solid var(--social-border);
}

.socials a h2 {
  font-size: 0.9rem;
}

.socials a i {
  font-size: 2.5rem;
}

.socials a:hover {
  background: rgba(225, 225, 255, 0.4);
}